<% if message.attachments.attached? %>
  <div class="row">
    <% message.attachments.each_with_index do |attachment, index| %>
      <div class="col-12">
        <% if attachment.image? %>
          <div class="message-image-container">
            <%= image_tag(message.chat_attachment(index), class: "message-image") %>
          </div>
        <% elsif attachment.video? %>
          <%= video_tag(url_for(attachment), class:'message-video', controls:'') %>
        <% elsif attachment.audio? %>
          <%= audio_tag(url_for(attachment), class:'message-audio', controls: '') %>
        <% else %>
          <%= link_to attachment.filename, url_for(attachment), class:'message-file' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
