.image-upload > input {
  display: none;
}
.upload-button {
  padding: 10px;
  font-size: 25px;
}
.upload-button:hover {
  cursor: pointer;
  opacity: 0.75;
}
/**
    * Adds a horizontal scroll bar that hides extra attachments
    */
#attachment-previews {
  position: absolute;
  display: inline;
  bottom: 50px;
  height: 70px;
  width: 290px;
  overflow-y: hidden;
  overflow-x: auto;
  direction: rtl;
  white-space: nowrap;
}
.attachment-preview {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  max-height: 50px;
  background-size: contain;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0px;
}
.cancel-upload-button {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 15px;
  padding: 3px;
  color: rgb(224, 0, 0);
  opacity: 0.75;
}
.cancel-upload-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.attachment-image-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100%;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0px;
}
.preview-image {
  display: block;
  position: absolute;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.last-message,
.last-message-time {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}
