<div class="cont-<%=message.user.id%>">
  <div class="message-box msg-<%= message.user.id %>">
    <% unless message.room.is_private %>
      <h6 class="name"> <%= message.user.email %> </h6>
    <% end %>
    <%= message.body %>
  </div>
</div>
