<div>
</div>
<% if room && current_user && room.eql?(current_user.current_room_id) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<li class="list-group-item d-flex align-items-center justify-content-between room_list_item <%= isActive %>">
  <%= link_to room.name, room, data: {turbo: "false"}, class:'ms-2 me-auto' %>
  <%= render 'rooms/joinable_link', room: room %>
</li>
