<%= turbo_frame_tag dom_id(message) do %>
    <div id="message-preview">
        <div class="card" id="message-preview-card">
            <div class="card-body row">
                <div class="col-8">
                    <%= content_tag(:p, message.user.username, class:"msg-role-#{message.user.role}") %>
                </div>
                <div class="col-4">
                    <%= link_to message.room.name, room_path(message.room), data: { turbo: "false" } %>
                </div>
                <%= content_tag(:div, message.body.html_safe, style:"color:#fff") %>
            </div>
        </div>
    </div>
<% end %>