<% if defined?(message) %>
    <div class="message-error alert-error message-error-fade">
        <div class="message-error-text center-block">
            <%= message %>
    </div>
  </div>
<% end %>